body{
font-family: 'Lato', sans-serif;
}

.home{
    margin: 0 auto;
    width: 1100px;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
}
.header{
    background-image: url("../img/header_bg.png");
    background-repeat: repeat-x; 

    height: 112px;
    grid-column: 1/5;
}
.logo {
    margin-top: 10px;
    margin-left: 40px;
}
.banner{
    background-image: url("../img/banner_bg.png");
    background-repeat: repeat-x; 

    height: 415px;
    grid-column: 1/5;
}
.bannerImage{
    margin-top: 21px;
    margin-left: 50px;
}

.navbar{
    list-style-type: none;
    margin-left: 430px;
    margin-top: -80px;
}

.navbar>li>a{
    text-decoration: none;
    float: left;
    padding:10px;
    color:grey;
    font-size: 20px;
}

.Title {
	margin-right: 70px;
	float: right;
	color: white;
}

.bannerText {
    margin-left: 780px;
    margin-right: 20px;
    color: white;
    margin-top: -300px;
}

.fadeslider {
    margin-top: 150px;
    margin-right: 100px;
    grid-column: 1 / 5;
}

.Fade_title {
    margin-left: 20px;
}

.Text {
    margin-right: 700px;
    margin-left: 20px;
}

.nivo-slider {
    grid-column: 2 / 5;
    margin-left: 450px;

}


